*,
:after,
:before {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body,
html {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}
#__next,
#root {
  isolation: isolate;
}
button,
a {
  color: inherit;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
:root {
  --toastContainerTop: auto;
  --toastContainerRight: auto;
  --toastContainerBottom: 5rem;
  --toastContainerLeft: calc(50vw - 8rem);
}
